<section id="internal-links-block" aria-labelledby="internal-links-block-heading">
  <h2 id="internal-links-block-heading">Internal Links</h2>

  <section aria-labelledby="related-service-heading">
    <h3 id="related-service-heading">Related Service</h3>
    <p>
      <a href="{{parent_service_url}}">{{parent_service_name}}</a>
    </p>
  </section>

  <section aria-labelledby="nearby-areas-heading">
    <h3 id="nearby-areas-heading">Nearby Areas</h3>
    <ul>
      <li><a href="{{nearby_link_1_url}}">{{nearby_link_1_name}}</a></li>
      <li><a href="{{nearby_link_2_url}}">{{nearby_link_2_name}}</a></li>
      <li><a href="{{nearby_link_3_url}}">{{nearby_link_3_name}}</a></li>
    </ul>
  </section>

  <section aria-labelledby="related-problems-heading">
    <h3 id="related-problems-heading">Related Problems</h3>
    <ul>
      <li><a href="{{related_problem_1_url}}">{{related_problem_1_name}}</a></li>
      <li><a href="{{related_problem_2_url}}">{{related_problem_2_name}}</a></li>
      <li><a href="{{related_problem_3_url}}">{{related_problem_3_name}}</a></li>
    </ul>
  </section>

  <section aria-labelledby="service-options-heading">
    <h3 id="service-options-heading">Service Options</h3>
    <ul>
      <li><a href="{{related_intent_1_url}}">{{related_intent_1_name}}</a></li>
      <li><a href="{{related_intent_2_url}}">{{related_intent_2_name}}</a></li>
      <li><a href="{{related_intent_3_url}}">{{related_intent_3_name}}</a></li>
    </ul>
  </section>
</section>
